.racial-item-container {
  background-color: #073057;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.racial-item-header {
  display: flex;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 110px;
}

.racial-image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 100px;
}

.racial-text {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}