.App {
  text-align: center;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --clr: #05213b;
}

body {
  background-color: var(--clr);
  color: rgb(209, 209, 209);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}